@model Project.Models.ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerMain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <h1 align="center">Lecturer Portal</h1>
    <div>
        Lecturer name: @Session["name"]
    </div>
    <table class="table table-hover">
        <tr>
            <td>Course Name</td>
            <td>Course id</td>
            <td>Day</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Moed A</td>
            <td>Moed B</td>


        </tr>
        @foreach (Project.Models.Course obj in Model.ListCource)
        {
            <tr>
                <td>@obj.name</td>
                <td>@obj.course_id</td>
                <td>@obj.day</td>
                <td>@obj.start_time</td>
                <td>@obj.end_time</td>
                <td>@obj.moed1</td>
                <td>@obj.moed2</td>

            </tr>
        }
    </table>
    <br />
    <form action="ShowStudentList" method="post">
        Student list:
        <input id="Course_id" name="Course_id" type="text" placeholder="Course id" />
        <input id="Button1" type="submit" value="Show" />
    </form>
    <div id="Status"></div>


    <table id="StudentList" class="table table-hover">
        <tr>
            <td>Student ID</td>
            <td>Moed 1 grade</td>
            <td>Moed 2 grade </td>
        </tr>
    </table>


    <script type="text/javascript">


        $.get("GetStudentListByJSON", null, BindData);
        function BindData(Students) {
            var tbl = $("#StudentList");
            var length = 0;
            for(var k in Students) length++;
            for (i = 0; i < length; i++) {
                var newRow = "<tr>" +
                    "<td>" + Students[i].id + "</td>" +
                    "<td>" + Students[i].moed1 + "</td>" +
                    "<td>" + Students[i].moed2 + "</td>" +
                    "</tr>";
                tbl.append(newRow);
            }
        }

    </script>

</body>
</html>
