
@model Project.Models.ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerMain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <button type="button" class="btn btn-outline-primary" style="float: right;margin-right: 1em; margin-top: 1em;" onclick="location.href = 'logout';">Logout</button>
    <br />
    <div class="container" style="margin-top: 2em;">
        <h1 class="display-4">Admin Portal</h1>
        <hr class="my-4">
        <p class="lead">Name: @Session["name"]</p>
        <p class="lead">ID: @Session["ID"]</p>
    </div>





    <table class="table table-hover" style="width: 80%;" align="center">
        <tr class="table-active">
            <td>Course Name</td>
            <td>Course id</td>
            <td>Course class</td>
            <td>Day</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Class moed A</td>
            <td>Moed A</td>
            <td>Class moed B</td>
            <td>Moed B</td>


        </tr>
        @foreach (Project.Models.Course obj in Model.ListCource)
        {
            <tr>
                <td>@obj.name</td>
                <td>@obj.course_id</td>
                <td>@obj.Lecture_class</td>
                <td>@obj.day</td>
                <td>@obj.start_time</td>
                <td>@obj.end_time</td>
                <td>@obj.class1</td>
                <td>@obj.moed1</td>
                <td>@obj.class2</td>
                <td>@obj.moed2</td>

            </tr>
        }
    </table>
    <br />


    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" style="margin-left: 12%;">
                    <form action="AddStudentToCource" method="post">
                        <h4 style="margin-bottom: 1em;">Change Student Grade</h4>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Student ID</label>
                            <div class="col-sm-10">
                                <input type="text" name="Student_id" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Course ID</label>
                            <div class="col-sm-10">
                                <input type="text" name="Course_id" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Grade</label>
                            <div class="col-sm-10">
                                <input type="text" name="Grade" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios1" value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Moed A
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios1" value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Moed B
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios1" value="option3">
                                        <label class="form-check-label" for="gridRadios2">
                                            Final
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>

    <div class="modal fade" id="addstudenttocourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" style="margin-left: 12%;">
                    <form action="AddStudentToCource" method="post">
                        <h4 style="margin-bottom: 1em;">Add student to cource</h4>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Student ID</label>
                            <div class="col-sm-10">
                                <input type="text" name="Student_id" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Course ID</label>
                            <div class="col-sm-10">
                                <input type="text" name="Course_id" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ChangeCourseTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" style="margin-left: 12%;">
                    <form action="ChangeCourseTime" method="post">
                        <h4 style="margin-bottom: 1em;">Change course time</h4>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Course ID</label>
                            <div class="col-sm-10">
                                <input type="text" name="Course_id" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Day</label>
                            <div class="col-sm-10">
                                <input type="text" name="day" class="form-control"placeholder="i.e.: Sunday" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Start</label>
                            <div class="col-sm-10">
                                <input type="text" name="Start" placeholder="HH:mm" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">End</label>
                            <div class="col-sm-10">
                                <input type="text" name="End" placeholder="HH:mm" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center" style="margin-bottom: 1em;">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ChangeCourseTime">
            Change course time
        </a>
    </div>

    <div class="text-center" style="margin-bottom: 1em;">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#addstudenttocourse">
            Add student to course
        </a>
    </div>

    <div class="text-center">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLoginForm">
            Change student grade
        </a>
    </div>

    <form action="ShowStudentList" method="post" style="margin-left: 10%">
        Student list:
        <input id="Course_id" name="Course_id" style="width: 5%; margin-bottom: 2em;" type="text" placeholder="Course id" />
        <input id="Button1" type="submit" class="btn btn-primary" value="Show" />
    </form>
    <div id="Status"></div>


    <table id="StudentList" class="table table-hover" style="width: 80%;" align="center">
        <tr class="table-active">
            <td>Course ID</td>
            <td>Moed A grade</td>
            <td>Moed B grade</td>
            <td>Final Grade</td>
        </tr>
    </table>


    <script type="text/javascript">


        $.get("GetStudentListByJSON", null, BindData);
        function BindData(Students) {
            var tbl = $("#StudentList");
            var length = 0;
            for (var k in Students) length++;
            for (i = 0; i < length; i++) {
                var newRow = "<tr>" +
                    "<td>" + Students[i].id + "</td>" +
                    "<td>" + Students[i].moed1 + "</td>" +
                    "<td>" + Students[i].moed2 + "</td>" +
                    "<td>" + Students[i].final + "</td>" +
                    "</tr>";
                tbl.append(newRow);
            }
        }

    </script>
    @if ((string)Session["Alert"] == "User id or course id is wrong.")
    {

        <script type="text/javascript">
            alert("User id or course id is wrong.");
        </script>
        Session["Alert"] = "";
    }
    @if ((string)Session["Alert"] == "The user is not student.")
    {

        <script type="text/javascript">
            alert("The user is not student.");
        </script>
        Session["Alert"] = "";
    }
    @if ((string)Session["Alert"] == "Course overlap with another course.")
    {

        <script type="text/javascript">
            alert("Course overlap with another course.");
        </script>
        Session["Alert"] = "";
    }    
    @if ((string)Session["Alert"] == "No such course.")
    {

        <script type="text/javascript">
            alert("No such course.");
        </script>
        Session["Alert"] = "";
    }    
    @if ((string)Session["Alert"] == "Bad time format.")
    {

        <script type="text/javascript">
            alert("Bad time format.");
        </script>
        Session["Alert"] = "";
    }    @if ((string)Session["Alert"] == "Time overlaps other course.")
    {

        <script type="text/javascript">
            alert("Time overlaps other course.");
        </script>
        Session["Alert"] = "";
    }
    @if ((string)Session["Alert"] == "Student is alredy tacking the course or no such student.")
    {

        <script type="text/javascript">
            alert("Student is alredy tacking the course or no such student.");
        </script>
        Session["Alert"] = "";
    }
        @if ((string)Session["Alert"] == "No such course.")
    {

        <script type="text/javascript">
            alert("No such course.");
        </script>
        Session["Alert"] = "";
    }
</body>
</html>
