
@model Project.Models.ViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentMain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <h1 align="center">Student Portal</h1>
    <div>
        Student name: @Session["name"]
        <br />

        Courses:
        <br />
        <table class="table table-hover">
            <tr>
                <td>Course Name</td>
                <td>Course id</td>
                <td>Day</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Moed A</td>
                <td>Moed B</td>


            </tr>
            @foreach (Project.Models.Course obj in Model.ListCource)
            {
                <tr>
                    <td>@obj.name</td>
                    <td>@obj.course_id</td>
                    <td>@obj.day</td>
                    <td>@obj.start_time</td>
                    <td>@obj.end_time</td>
                    <td>@obj.moed1</td>
                    <td>@obj.moed2</td>

                </tr>
            }
        </table>
        <br />
        <table class="table table-hover">
            <tr>
                <td>Course ID</td>
                <td>Moed A grade</td>
                <td>Moed B grade</td>
            </tr>
            @foreach (Project.Models.UsersCourses obj in Model.List_users_courses)
            {
                <tr>
                    <td>@obj.course</td>
                    <td>@obj.moed1</td>
                    <td>@obj.moed2</td>

                </tr>
            }
        </table>
        <br />


    </div>
    </body>
</html>
